.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; 
  background-color: #000; 
  color: #fff; 
}

.header-left span {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
}

.header-links a,
.desktop-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px; 
  font-size: 16px; 
  transition: color 0.3s; 
}

.header-links a:hover,
.desktop-links a:hover {
  color: #e0e0e0;
}

.desktop-links {
  display: none; 
}

@media (min-width: 768px) {
  .desktop-links {
      display: flex; 
      margin-left: 20px; 
  }

  .header-links {
      display: none; 
  }

  .header-hamburger {
      display: none;
  }
}

.header-left a {
  color: white;           
  text-decoration: none; 
  font-size: 1.5rem;   
  font-weight: bold;   
}

.header-left a:hover {
  color: lightgray;      
}

.hamburger-button {
  background: none;  
  border: none;       
  text-align: inherit;   
  text-decoration: none; 
  cursor: pointer;       
  outline: none; 
  color: white;
  background-color: black;
}