html, body {
  height: 100%; 
  margin: 0;    
}

.map-page {
  flex: 1; 
  padding: 20px;
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
  display: flex; 
  flex-direction: column;
}

.location-input-container {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
}

.location-input {
  flex: 1; 
  padding: 10px;
  margin-right: 10px; 
  border-radius: 5px;
  border: 1px solid #ccc; 
}

.confirm-location-btn {
  padding: 10px; 
  background-color: black; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.confirm-location-btn:hover {
  background-color: grey; 
}

.predictions-container {
  background: white; 
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute; 
  z-index: 1000; 
}

.prediction {
  padding: 10px;
  cursor: pointer; 
  color: black; 
}

.prediction:hover {
  background: lightgrey;
}

.leaflet-container {
  flex: 1; 
  width: 100%;
}
