.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin: 0 0 20px;
    color: #000;
    text-align: center;
}

.form-container {
    max-width: 100%;
    margin: 0 auto;
}

.modal-content input {
    width: 100%; 
    margin-bottom: 15px;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
    box-sizing: border-box; 
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input {
    flex: 1; 
    padding-right: 45px; 
    margin-bottom: 0; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none; 
    cursor: pointer;
    padding: 0;
    color: #000000; 
}

.toggle-password svg {
    font-size: 1.2rem; 
}

.modal-content input::placeholder {
    color: #aaa;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin-top: 20px; 
}

.modal-content button {
    padding: 12px; 
    border: none; 
    border-radius: 5px; 
    background: #000; 
    color: #fff; 
    cursor: pointer; 
    transition: background 0.3s, color 0.3s;
    flex: 1; 
    margin: 0 10px;
    text-align: center;
}

.modal-content button:hover {
    background: #333;
    color: #fff;
}

.close-button {
    background: #000; 
    color: #fff;
}
